* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgb(174,175,238);
background: radial-gradient(circle, rgba(174,175,238,1) 0%, rgba(13,17,65,0.6783088235294117) 100%);
    image-rendering: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: antiquewhite;
    color: black;
    padding: 30px;
    border-radius: 30px;
}

input {
    outline: none;
}

.caixa-pequena {
    display: flex;
    align-items: center;
}

.btn-pesquisa {
    background-color: aquamarine;


}